<div class="navbar-fixed">
    <nav class="red darken-2">
        <div class="nav-wrapper container">
            <a style="font-family: monospace;" routerLink="/accueil" class="brand-logo"><i class="fa fa-motorcycle" aria-hidden="true"></i> MOTORHUB</a>
            <ul class="right hide-on-med-and-down">
                <li><a routerLink="/accueil">Accueil</a></li>                
                <li><a routerLink="/constructeurs">Constructeurs</a></li>
                <li><a routerLink="/comparateur">Comparateur</a></li>
                <li><a routerLink="/nouveaux-modeles">Nouveaux Modèles</a></li>
                <li><a routerLink="/recherche">Recherche</a></li>
            </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>
