<div class="navbar-fixed">
    <nav class="red darken-2 z-depth-3">
        <div class="nav-wrapper container">
            <a style="font-family: monospace;" routerLink="/accueil" class="brand-logo "><i class="fa fa-motorcycle hide-on-small-only" aria-hidden="true"></i> MOTORHUB</a>
            <a data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>      
            <ul class="right hide-on-med-and-down">
                <li routerLinkActive="active"><a routerLink="/accueil">Accueil</a></li>                
                <li routerLinkActive="active"><a routerLink="/constructeurs">Constructeurs</a></li>
                <li routerLinkActive="active"><a routerLink="/comparateur">Comparateur</a></li>
                <li routerLinkActive="active"><a routerLink="/nouveaux-modeles">Nouveaux Modèles</a></li>
                <li routerLinkActive="active"><a routerLink="/recherche">Recherche</a></li>
            </ul>

            <ul class="side-nav" id="mobile">
                <li routerLinkActive="active"><a routerLink="/accueil">Accueil</a></li>                
                <li routerLinkActive="active"><a routerLink="/constructeurs">Constructeurs</a></li>
                <li routerLinkActive="active"><a routerLink="/comparateur">Comparateur</a></li>
                <li routerLinkActive="active"><a routerLink="/nouveaux-modeles">Nouveaux Modèles</a></li>
                <li routerLinkActive="active"><a routerLink="/recherche">Recherche</a></li>
            </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>

<footer class="page-footer blue-grey lighten-4">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 >Qui sommes-nous ?</h5>
            <p>MotorHub est une plateforme moderne 100% dédiée au monde du deux roues.</p>

        </div>
        <div class="col l3 s12">
            <h5>A propos</h5>
            <ul>
                <li><a href="#!">Condition d'utilisation</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h5>Les réseaux sociaux</h5>
            <ul>
                <li><a href="#!">Facebook</a></li>
                <li><a href="#!">Twitter</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text">
            © 2017 MotorHub, Tous droits réservés.
        </div>
    </div>
</footer>