<div class="navbar-fixed">
    <nav class="red darken-2 z-depth-3">
        <div class="nav-wrapper container">
            <a style="font-family: monospace;" routerLink="/accueil" class="brand-logo "><i class="fa fa-motorcycle hide-on-small-only" aria-hidden="true"></i> MOTORHUB</a>
            <a data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>      
            <ul class="right hide-on-med-and-down">
                <li routerLinkActive="active"><a routerLink="/accueil">Accueil</a></li>                
                <li routerLinkActive="active"><a routerLink="/constructeurs">Constructeurs</a></li>
                <li routerLinkActive="active"><a routerLink="/comparateur">Comparateur</a></li>
                <li routerLinkActive="active"><a routerLink="/nouveaux-modeles">Nouveaux Modèles</a></li>
                <li routerLinkActive="active"><a routerLink="/recherche">Recherche</a></li>
            </ul>

            <ul class="side-nav" id="mobile">
                <li routerLinkActive="active"><a routerLink="/accueil">Accueil</a></li>                
                <li routerLinkActive="active"><a routerLink="/constructeurs">Constructeurs</a></li>
                <li routerLinkActive="active"><a routerLink="/comparateur">Comparateur</a></li>
                <li routerLinkActive="active"><a routerLink="/nouveaux-modeles">Nouveaux Modèles</a></li>
                <li routerLinkActive="active"><a routerLink="/recherche">Recherche</a></li>
            </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>

<footer class="page-footer blue-grey lighten-4">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 >Company Bio</h5>
            <p>We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

        </div>
        <div class="col l3 s12">
            <h5>Settings</h5>
            <ul>
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h5>Connect</h5>
            <ul>
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text">
            © 2017 MotorHub, Tous droits réservés
        </div>
    </div>
</footer>