<main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Recherche</div>
                    </div>
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Informations moto</span><br>
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="col s4">
												<label>Catégories</label>
												<select class="browser-default">
													<option value="" disabled selected>Choose your option</option>
													<option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
												</select>
											</div>
                                            <div class="col s4">
												<label>Marques</label>
												<select class="browser-default">
													<option value="" disabled selected>Choose your option</option>
													<option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
												</select>
											</div>
											<div class="col s4">
												<label>Modèles</label>
												<select class="browser-default">
													<option value="" disabled selected>Choose your option</option>
													<option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
												</select>
											</div>
                                            <div class="col s6">
                                                <p class="range-field">
                                                    <label>Cylindrée Min (<span id="valMinCyl">750</span>)</label>
                                                    <input type="range" id="rangeCylindreeMin" min="0" max="1500" step="50" />
                                                </p>
                                            </div>
                                            <div class="col s6">
                                                <p class="range-field">
                                                    <label>Cylindrée Max (<span id="valMaxCyl">750</span>)</label>
                                                    <input type="range" id="rangeCylindreeMax" min="0" max="1500" step="50" />
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-content">
                                <span class="card-title">Tarifs</span><br>
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="col s6">
												<label>Prix min</label>
												<select class="browser-default">
													<option value="" disabled selected>Choose your option</option>
													<option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
												</select>
											</div>
                                            <div class="col s6">
												<label>Prix max</label>
												<select class="browser-default">
													<option value="" disabled selected>Choose your option</option>
													<option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
												</select>
											</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                       
                            <button class="btn waves-effect waves-light grey darken-3" type="submit" name="action">Rechercher
                                <i class="material-icons right">search</i>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>