<main class="mn-inner">
	<div class="row">
		<div class="col s12">
			<div class="page-title">Comparateur</div>
		</div>
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Informations moto</span>
					<br>
					<div class="row">
						<form class="col s12">
							<div class="row">
								<div class="col s3">
									<label>Marques</label>
									<select ng-model="marqueSelect" ng-change="onManufacturerChange(marqueSelect)" class="browser-default">
										<option value="" disabled selected>Choose your option</option>
										<option ng-repeat="manu in manufacturers" value="{{manu.id}}">{{manu.name}}</option>
									</select>
								</div>
								<div class="col s3">
									<label>Année</label>
									<select ng-model="anneeSelect" ng-change="onManuYearChange(marqueSelect, anneeSelect)" class="browser-default">
										<option value="" disabled selected>Choose your option</option>
										<option ng-repeat="annee in manuYears" value="{{annee}}">{{annee}}</option>
									</select>
								</div>
								<div class="col s3">
									<label>Modèles</label>
									<select ng-model="modeleSelect" class="browser-default">
										<option value="" disabled selected>Choose your option</option>
										<option ng-repeat="bike in manuBikes" value="{{bike.id}}">{{bike.name}} {{bike.year}}</option>
									</select>
								</div>
								<div class="input-fiel col s3">
									<button ng-click="onClickAddBike(modeleSelect)" class="btn waves-effect waves-light grey darken-3" type="submit" name="action">Ajouter
										<i class="material-icons right">add</i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="cd-products-comparison-table">

		<div class="cd-products-table">
			<div class="features">
				<div class="top-info">Motos</div>
				<ul class="cd-features-list">
					<li>Année</li>
					<li>Vitesse max</li>
					<li>Prix</li>
					<li>Catégorie</li>
					<li>Couple</li>
					<li>Puissance</li>
					<li>Cylindrée</li>
					<li>Type de boite</li>
					<li>Transmission secondaire</li>
					<li>Poids à sec</li>
					<li>Hauteur de selle</li>
					<li>Réservoir</li>
				</ul>
			</div>
			<!-- .features -->

			<div class="cd-products-wrapper">
				<ul class="cd-products-columns">
					<li ng-repeat="bike in bikes" class="product">
						<div class="top-info">
							<img ng-src="http://localhost:3000{{bike.imagesUrl[0]}}">
							<h3><a target="_blank" ng-href="#/bike/{{bike.id}}">{{bike.manufacturer.name}} {{bike.name}} {{bike.year}}</a></h3>
						</div>
						<!-- .top-info -->

						<ul class="cd-features-list">
							<li>{{bike.year}}</li>
							<li>{{bike.maxSpeed}} km/h</li>
							<li>{{bike.price}} €</li>
							<li>{{bike.category.name}}</li>
							<li>{{bike.engine.torque}} mkg à {{bike.engine.maxTorqueRpm}} tr/min</li>
							<li>{{bike.engine.power}} cv à {{bike.engine.maxPowerRpm}} tr/min</li>
							<li>{{bike.engine.displacement}}</li>
							<li>{{bike.transmission.gearboxType}}</li>
							<li>{{bike.transmission.secondaryTransmission}}</li>
							<li>{{bike.frame.movingWeight}} mm</li>
							<li>{{bike.frame.seatHeight}} mm</li>
							<li>{{bike.frame.tankCapacity}} l</li>
						</ul>
					</li>
					<!-- .product -->


					<!-- .product -->
				</ul>
				<!-- .cd-products-columns -->
			</div>
			<!-- .cd-products-wrapper -->


		</div>
		<!-- .cd-products-table -->
	</section>
	<!-- .cd-products-comparison-table -->
</main>